*body {
  font-family: none;
  font-size: none;
  max-width: auto;
}

*span {
  color: white !important;
}

.div {
  margin: 7px auto;
}
.section {
  display: block;
}
/* Product grid */
section .div .card-group {
  margin: 10px auto;
  height: auto;
  padding: 5px;
}
